agents/School Email Campaign - Rishi (Fixed).json
{
  "name": "School Email Campaign - Rishi (Fixed)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19WauG_Kt7wNxflg_PSnbrA02vOfH73fqEQs3y-UTCZE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19WauG_Kt7wNxflg_PSnbrA02vOfH73fqEQs3y-UTCZE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Google Sheets - Read Schools",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -496,
        112
      ],
      "id": "7d815ecf-2bcd-400e-a272-17bde2782047",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OXaL9fCN3fp9jSxw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"Email\"]}}",
        "subject": "={{$json[\"subject\"]}}",
        "message": "={{$json[\"emailBody\"]}}",
        "options": {
          "senderName": "Rishi Ananthula"
        }
      },
      "name": "Gmail - Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        832,
        96
      ],
      "id": "fc604740-fae5-4e0a-8495-ade244e9c9c7",
      "webhookId": "2aa5e95e-9e86-4323-95d9-dcec6d8926d0",
      "credentials": {
        "gmailOAuth2": {
          "id": "LxD06g4FK7MoXgzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        96
      ],
      "id": "32d9271c-eb37-43bf-885a-1aec2a68f98f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Filter Pending Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "a524fe08-2325-49a2-bd31-f6048680acf7"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        128,
        128
      ],
      "id": "c9da4987-0dde-4867-9c5b-03a4bf2c71eb"
    },
    {
      "parameters": {
        "functionCode": "// ---- Improved School ERP Outreach - Spam Reduced v2 ----\nconst schoolName = $json['School Name'] || 'Your School';\nconst email = $json.Email;\nconst address = $json.Address || '';\n\nlet city = 'Karimnagar';\nif (address) {\n  const parts = address.split(',').map(p => p.trim()).filter(Boolean);\n  if (parts.length > 0) {\n    city = parts[parts.length - 1];\n  }\n}\n\nconst coachingRaw = ($json['IIT/NEET Foundation/Coaching'] || '').toString().trim().toLowerCase();\nconst hasCoaching = (coachingRaw && coachingRaw !== 'not mentioned' && coachingRaw !== 'no');\n\nconst subject = `School Management System for ${schoolName}`;\n\n// Plain Text Version (Very important for deliverability)\nlet emailText = `Dear Principal / Management Team at ${schoolName}, ${city}\n\nI hope this message finds you well.\n\nMy name is Rishi Ananthula. I develop School Management ERP software for schools like yours.\n\nThe system offers:\n- Teachers: attendance, timetable, assignments, and marks entry\n- Parents: real-time updates, fee payments, and progress tracking\n- Students: results, homework, notices, and schedule\n- Management: admin panel, staff & fee management, and analytics\n- Notifications: alerts via mobile app\n\n${hasCoaching ? '- IIT/NEET foundation performance tracking\\n' : ''}\n\nIt is available on Android, iOS, and Web with regular updates and support.\n\nIf you feel this could be useful for ${schoolName}, I would be happy to arrange a short demo at your convenience.\n\nYou can reply to this email or reach me at rishiananthula0@gmail.com.\n\nBest regards,\nRishi Ananthula\nMobile & Web App Developer\nSchool ERP Solutions\n\nPhone/WhatsApp: [Your Number Here]\nLinkedIn: https://www.linkedin.com/in/rishi-ananthula-88866232a\n\n---\nThis is a one-time outreach email. If you do not wish to receive further messages, simply reply with \"unsubscribe\" and I will remove you immediately.\nSent from: Hyderabad, Telangana, India`;\n\n// HTML Version - Clean, professional, no buttons, minimal styling\nlet emailBody = `\n<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto;\">\n  <p>Dear Principal / Management Team at <strong>${schoolName}</strong>, ${city}</p>\n\n  <p>I hope this message finds you well.</p>\n\n  <p>My name is Rishi Ananthula. I develop School Management ERP software for schools like yours.</p>\n\n  <p><strong>Key features include:</strong></p>\n  <ul>\n    <li><strong>Teachers:</strong> attendance, timetable, assignments, and marks entry</li>\n    <li><strong>Parents:</strong> real-time updates, fee payments, and progress tracking</li>\n    <li><strong>Students:</strong> results, homework, notices, and schedule</li>\n    <li><strong>Management:</strong> admin panel, staff & fee management, analytics</li>\n    <li><strong>Notifications:</strong> automated alerts to parents and students</li>\n    ${hasCoaching ? '<li><strong>IIT/NEET Tracking:</strong> performance analytics and mock test results</li>' : ''}\n  </ul>\n\n  <p>Available on Android, iOS, and Web with ongoing support.</p>\n\n  <p>If this solution might help ${schoolName}, I would be glad to arrange a short, no-obligation demo. Please feel free to reply to this email or contact me directly.</p>\n\n  <p>Best regards,<br>\n  <strong>Rishi Ananthula</strong><br>\n  Mobile & Web App Developer<br>\n  School ERP Solutions</p>\n\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 25px 0;\">\n  \n  <p style=\"font-size: 12px; color: #666;\">\n    This is a one-time outreach email regarding school management software.<br>\n    If you do not wish to receive any further emails, simply reply with the word <strong>\"unsubscribe\"</strong> and I will remove your school from my list immediately.<br><br>\n    Sent from: Hyderabad, Telangana, India\n  </p>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...$json,\n    emailBody: emailBody.trim(),\n    emailText: emailText,\n    subject: subject,\n    Status: 'Sent'\n  }\n};"
      },
      "name": "Create Email HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        144
      ],
      "id": "423b8f78-bb3a-4c85-b477-db6a4e5dd666"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1504,
        160
      ],
      "id": "9dd001da-6d5b-4176-9ccb-f61f4b41ea49",
      "webhookId": "305d40ca-bd74-48f4-9d8a-5f1a0fcd194a"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"Email\"]}}",
        "subject": "={{$json[\"subject\"]}}",
        "message": "={{$json[\"emailBody\"]}}",
        "options": {
          "senderName": "Rishi Ananthula"
        }
      },
      "name": "Gmail - Send Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        288,
        -768
      ],
      "id": "b0d47203-de51-462d-b1a0-71d52bccecb7",
      "webhookId": "2aa5e95e-9e86-4323-95d9-dcec6d8926d0",
      "credentials": {
        "gmailOAuth2": {
          "id": "LxD06g4FK7MoXgzA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19WauG_Kt7wNxflg_PSnbrA02vOfH73fqEQs3y-UTCZE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19WauG_Kt7wNxflg_PSnbrA02vOfH73fqEQs3y-UTCZE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "Email",
        "options": {}
      },
      "name": "Update Status to Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1232,
        80
      ],
      "id": "a56e6723-52fb-49e3-99e1-da1f2dd5b3a9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OXaL9fCN3fp9jSxw",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets - Read Schools": {
      "main": [
        [
          {
            "node": "Filter Pending Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Email": {
      "main": [
        [
          {
            "node": "Update Status to Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets - Read Schools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Emails": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Create Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email HTML": {
      "main": [
        [
          {
            "node": "Gmail - Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Email1": {
      "main": [
        []
      ]
    },
    "Update Status to Sent": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8d74d171-dd98-4425-9c64-2827d6e7a35e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3fb2ffafc917cc0914831c2c6f10c3f9a7d1f61b51bc573551cd0e7b70c90eb"
  },
  "id": "CwDl3xLM243UOPbW",
  "tags": []
}